@import "tailwindcss";

:root {
  --background: #f6f5f1;
  --foreground: #1e1e1e;
}

@theme inline {
  --color-primary: var(--foreground);
  --color-light: var(--background);
  --font-archivo-black: "Archivo Black", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-section,
.project-details {
  background-color: #f6f5f1;
  background-image: linear-gradient(#ececec 1px, transparent 1px),
    linear-gradient(to right, #ececec 1px, #f6f5f1 1px);
  background-size: 30px 30px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 45s linear infinite;
}
